In [5]:
#DECLARING THE VARIABLES
a='''HELLO'''
a1='HELLO'
a2="HELLO"
b=345
c=45.32
d=True
e=None
#PRINTING THE VARIABLES
print(a)
print(a1)
print(a2)
print(b)
print(c)
print(d)
print(e)

HELLO
HELLO
HELLO
345
45.32
True
None

In [6]:
#PRINTING THE TYPES OF THE VARIABLES
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [7]:
#ARITHMETIC OPERATORS
a=5
b=10
print("THE VALUE OF A+B IS ", a+b)
print("THE VALUE OF A*B IS ", a*b)
print("THE VALUE OF A-B IS ", a-b)
print("THE VALUE OF A/B IS ", a/b)
print("THE VALUE OF A%B IS ", a%b)

THE VALUE OF A+B IS  15
THE VALUE OF A*B IS  50
THE VALUE OF A-B IS  -5
THE VALUE OF A/B IS  0.5
THE VALUE OF A%B IS  5

In [8]:
#ASSIGNMENT OPERATORS
a=20
print(a)
a+=14
print(a)
a-=14
print(a)
a*=14
print(a)
a/=14
print(a)
type(a)

20
34
20
280
20.0

float

In [9]:
#COMPARISON OPERATORS
b=(4<7)
print(b)
b=(4>7)
print(b)
b=(4==7)
print(b)
b=(4<=7)
print(b)
b=(4>=7)
print(b)
b=(4!=7)
print(b)

True
False
False
True
False
True

In [10]:
#COMAPRISON WITH BOOLEAN
c=(True==False)
print(c)
c=(True!=False)
print(c)

False
True

In [12]:
#LOGICAL OPERATORS
bool1=True
bool2=False
print("THE VALUE OF BOOL1 AND BOOL2 IS", (bool1 and bool2))
print("THE VALUE OF BOOL1 AND BOOL2 IS", (bool1 or bool2))
print("THE VALUE OF BOOL2 IS", (not bool2))

THE VALUE OF BOOL1 AND BOOL2 IS False
THE VALUE OF BOOL1 AND BOOL2 IS True
THE VALUE OF BOOL2 IS True

In [20]:
#TYPECASTING(STRING TO INTEGER)
a="40"
print(a)
print(type(a))
a=int(a)
print(a)
print(type(a))
#TYPECASTING(INTEGER TO STRING)
b=20
print(b)
print(type(b))
b=str(b)
print(b)
print(type(b))
#TYPECASTING(INTEGER TO FLOAT)
c=10
print(c)
print(type(c))
c=float(c)
print(c)
print(type(c))
#TYPECASTING(INTEGER TO COMPLEX)
d=30
print(d)
print(type(d))
d=float(d)
print(d)
print(type(d))
#TYPECASTING(CHANGING AND ADDING)
e="50"
print(e)
print(type(e))
e=int(e)
print(e+5)
print(type(e))

40
<class 'str'>
40
<class 'int'>
20
<class 'int'>
20
<class 'str'>
10
<class 'int'>
10.0
<class 'float'>
30
<class 'int'>
30.0
<class 'float'>
50
<class 'str'>
55
<class 'int'>

In [21]:
#TAKING INPUT FROM USER
A=input("ENTER ANY VALUE YOU WANT: ")
A=int(A)
print(type(A))

ENTER ANY VALUE YOU WANT: 60
<class 'int'>